{% extends 'base.html' %}

{% block Title %} Play Game {% endblock%}
{% block heading %} Play Game {% endblock%}

{% block content %}
<form action="/show_madlib" method="POST">
  <label for ="player">Name</label>
  <input type="text" name="name" id="player"/>

  <label for ="color-choice">Choose a color</label>
  <select name="color" id="color-choice">
      <option value="green">Green</option>
      <option value="purple">Purple</option>
      <option value="yellow">Yellow</option>
  </select>

  <!-- <label for ="noun-choice">Choose a noun</label> -->
  <!-- <input type="text" name="noun" id="noun-choice"/> -->

  <input type="checkbox" name="noun" value="hamburger" id="hamburger">
  <label for="hamburger">Hamburger</label>
  <input type="checkbox" name="noun" value="pizza" id="pizza">
  <label for="pizza">Pizza</label>
  <input type="checkbox" name="noun" value="noodles" id="noodles">
  <label for="noodles">Noodles</label>


  <label for ="adjective-choice">Choose an adjective</label>
      <input type="text" name="adjective" id="adjective-choice"/>

   <input type="submit">
</form>
{% endblock%}